/* Estilos para o corpo da página */
body {
  background-color: purple;  
  color: aliceblue;  
  text-align: center; 
}

/* Estilos para o elemento com ID igual a "tabuleiro" */
#tabuleiro {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1px; 
  width: 400px; 
  margin: auto; 
}

/* Estilos para a classe chamada "celula", aplicados em cada célula do tabuleiro */
.celula {
  display: grid; 
  align-items: center; 
  font-size: 50px; 
  cursor: crosshair; 
  background-color:rgba(194, 33, 194, 0.884); 
  height: 120px;
}

/* Estilo para o botão de reiniciar jogo */
#botao-reiniciar {
  background-color: rgba(238, 238, 238, 0.555); 
  font-size: 24px; 
  margin: 30px; 
  cursor: pointer; 
  color: #fff; 
}
